<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
<style>{% block style %}{% endblock %}</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'final/style.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>




</head>
<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">WELCOME  </a>
        </div>
        <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/homeview/">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
                        Home
                    </a>

                </li>
        </ul>
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav navbar-right">

            <li class="active">
                    <a href="/logout/">
                        <span class="glyphicon glyphicon-off"></span>&nbsp;
                        logout
                    </a>

                </li>
                </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>